.TextSection {
    width: 50%;
    padding: 25px;
    border-right: 1px solid black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    color: black;
    margin: 20px auto;
}

p  {
    background-color: snow;
    opacity: 65%;
    padding: 10px;
    border-radius: 10px;
}
h2  {
    background-color: snow;
    opacity: 65%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}