.Footer  {
    text-align: center;
    background-color: snow;
    color: lightskyblue;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

h5 {
    text-align: center;
}
