.Footer {
    text-align: center;
    background-color: transparent;
    color: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
}

h3 {
    text-align: center;
}
